/* 기본 스타일 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Arial", sans-serif;
  color: #fff;
  background-color: #111;
  /* height: 100%; */
}

/* 메뉴바 스타일 */
.menu-bar {
  position: fixed;
  top: 30px;
  right: 30px;
  display: flex;
  gap: 15px;
  align-items: center;
  z-index: 1000;
}

.menu-bar i {
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.3s;
}

.menu-bar i:hover {
  transform: scale(1.2);
}

/* 아이콘 색상 */
.icon-discord {
  color: #b197fc;
}
.icon-youtube {
  color: #f60921;
}
.icon-instagram {
  color: #f109b3;
}

/* 각 섹션 스타일 */
.item {
  position: relative;
  width: 100vw; /* 100% width를 vw 단위로 변경하여 뷰포트에 맞게 설정 */
  height: 100vh; /* 뷰포트 높이에 맞게 설정 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px; /* 좌우 여백을 추가하여 화면에 맞게 조정 */
  box-sizing: border-box; /* padding이 요소 크기에 포함되도록 설정 */
}
